.toaster{
  position: fixed;
  top: 25px;
  right: 20px;
  width : 160px;

  .toast{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-bottom: 10px;

    .icon{
      margin-right : 5px;
      width : 30px;
      height : 30px;
    }

    .text{
      padding: 5px 10px;
      text-transform: capitalize;
    }
  }
}