.toaster{
  position: fixed;
  top: 25px;
  right: 20px;

  &__toast {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    height : 30px;
    margin-bottom: 10px;
  }

  &__icon {
    width : 30px;
    height : 30px;

    margin-left : 5px;
  }

  &__text {
    padding: 5px 10px;

    text-transform: capitalize;
    border-radius: @border-radius;
  }
}