<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevsMeat #2</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta property="og:site_name" content="DevsMeat #2"/>
    <meta property="og:title" content="DevsMeat #2"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="fb:app_id" content=""/>
    <meta property="og:locale" content="pl_PL"/>
    <meta name="theme-color" content="#000000">

    <link rel="canonical" href="#" />
    <link rel="apple-touch-icon" href="/utils/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/utils/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="app" class="loading">

        <div v-if="timer.value" class="timer">
            <div class="marker" v-bind:style="{ transform :  'scaleX(' + timer.value/timer.max + ')' }"></div>
        </div>

        <div v-if="toaster.data.length" class="toaster" >
            <div class="toast" v-for="toast in toaster.data">
                <div class="text" v-bind:style="{ background : toast.color }">{{ toast.text }}</div>
                <img class="icon" v-bind:src=" '/img/' + toast.icon + '.svg' ">
            </div>
        </div>

        <div class="player" v-bind:class="{ 'active' : user.name }" >
            <div class="wrapper" v-bind:style="{ background : ( user.color ? user.color : 'white' ) }">
                <div class="position">{{ user.position | position }}</div>
                <div class="name">{{ user.name }}</div>
                <div class="points">{{user.points}} PTS</div>
            </div>
        </div>

        <div class="centercontainer" v-bind:class=" { 'inactive' : question.state.left || question.state.right } ">
            <div class="card card-question" v-bind:class="question.state" >
                <div class="top">
                    <div class="label">QUESTION</div>
                    <div class="question">{{question.data.question}}</div>
                </div>
                <div class="center">
                    <ul class="answers">
                        <li v-for="answer in question.data.answers">
                            <a v-on:click="sendAnswer(answer.id)">
                                {{ answer.answer }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="centercontainer" v-bind:class=" { 'inactive' : !result.state.active } ">
            <div class="result" v-bind:class="result.state">
                <h2>{{ ( result.state.correct ? 'GOOD!' : 'WRONG!' ) }}</h2>
                <h3 v-if="result.state.correct === false">It can only get better ;)</h3>
                <h3 v-if="result.state.correct && result.state.points === 0">Unfortunately other players were faster :(.</h3>
                <h3 v-if="result.state.correct && result.state.points > 0">You've gained <span class="bold">{{result.state.points}}</span> {{ ( result.state.points>1 ? 'points' : 'point' ) }}!</h3>
            </div>
        </div>

        <div class="centercontainer" v-bind:class=" { 'inactive' : leaderboard.state.left || leaderboard.state.right } ">
            <div class="card card-leaderboard" v-bind:class="leaderboard.state" >
                <div class="top">
                    <div class="label">LEADERBOARD</div>
                </div>
                <div class="center">
                    <ul class="list">
                        <li v-for="user in leaderboard.data.leaderboard">
                            <a v-bind:style="{ background : user.color }">
                                <div class="position">{{ user.position | position }}</div>
                                <div class="name">{{ user.name }}</div>
                                <div class="points">{{user.points}} PTS</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="js/app.js"></script>
</html>