<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevsMeat #2</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta property="og:site_name" content="DevsMeat #2"/>
    <meta property="og:title" content="DevsMeat #2"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="fb:app_id" content=""/>
    <meta property="og:locale" content="pl_PL"/>
    <meta name="theme-color" content="#000000">

    <link rel="canonical" href="#" />
    <link rel="apple-touch-icon" href="/utils/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/utils/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="app" class="app app--loading">

        <div class="timer">
            <div class="timer__marker" v-bind:style="{ transform :  'scaleX(' + timer.value/timer.max + ')' }"></div>
        </div>

        <div v-if="toaster.data.length" class="toaster" >
            <div class="toaster__toast" v-for="toast in toaster.data">
                <div class="toaster__text" v-bind:style="{ background : toast.color }">{{ toast.text }}</div>
                <img class="toaster__icon" v-bind:src=" './img/' + toast.icon + '.svg' ">
            </div>
        </div>

        <div class="player" v-bind:class="{ 'player--active' : user.name }" >
            <div class="player__container" v-bind:style="{ background : ( user.color ? user.color : 'white' ) }">
                <div class="player__position">{{ user.position | position }}</div>
                <div class="player__name">{{ user.name }}</div>
                <div class="player__points">{{user.points}} PTS</div>
            </div>
        </div>

        <div class="centercontainer" v-bind:class=" { 'centercontainer--inactive' : question.state.left || question.state.right } ">
            <div class="card-question" v-bind:class="{ 'card--left' : question.state.left , 'card--right' : question.state.right }" >
                <div class="card-question__header">
                    <div class="card-question__label">QUESTION</div>
                    <div class="card-question__question">{{question.data.question}}</div>
                </div>
                <div class="card-question__body">
                    <ul class="card-question__answers">
                        <li v-for="answer in question.data.answers">
                            <a v-on:click="sendAnswer(answer.id)">
                                {{ answer.answer }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="centercontainer" v-bind:class=" { 'centercontainer--inactive' : !result.state.active } ">
            <div class="result"  v-bind:class="{ 'result--active' : result.state.active } ">
                <h2 class="result__h2">{{ ( result.state.correct ? 'GOOD!' : 'WRONG!' ) }}</h2>
                <h3 class="result__h3" v-if="result.state.correct === false">It can only get better ;)</h3>
                <h3 class="result__h3" v-if="result.state.correct && result.state.points === 0">Unfortunately other players were faster :(.</h3>
                <h3 class="result__h3" v-if="result.state.correct && result.state.points > 0">You've gained <span class="result__bold">{{result.state.points}}</span> {{ ( result.state.points>1 ? 'points' : 'point' ) }}!</h3>
            </div>
        </div>

        <div class="centercontainer" v-bind:class=" { 'centercontainer--inactive' : leaderboard.state.left || leaderboard.state.right } ">
            <div class="card-leaderboard" v-bind:class="{ 'card--left' : leaderboard.state.left , 'card--right' : leaderboard.state.right }" >
                <div class="card-leaderboard__header">
                    <div class="card-leaderboard__label">LEADERBOARD</div>
                </div>
                <div class="card-leaderboard__body">
                    <ul class="card-leaderboard__list">
                        <li v-for="user in leaderboard.data.leaderboard">
                            <a class="card-leaderboard__user" v-bind:style="{ background : user.color }">
                                <div class="card-leaderboard__cardposition">{{ user.position | position }}</div>
                                <div class="card-leaderboard__name">{{ user.name }}</div>
                                <div class="card-leaderboard__points">{{user.points}} PTS</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="js/app.js"></script>
</html>